@use 'lib' as *;

.categories {
	$self: &;

	padding: fluid(64px, 48px) 0;

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__title {
		margin-bottom: 48px;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: fluid(48px, 16px);
		margin-bottom: 32px;

		@include media("<=md") {
			grid-template-columns: repeat(2, 1fr)
		}
	}

	&__item {
		@include flex-center;

		flex-direction: column;
		gap: 24px;
		border-radius: var(--radius-md);
		background: var(--card);
		padding: fluid(32px, 24px);
	}

	&__item-image {
		height: 120px;
	}

	&__item-title {
		font-size: fluid(24px, 18px);
		font-weight: 700;
		text-align: center;
	}

	&__more {
		align-self: flex-end;
	}

}
