@use 'lib' as *;

.triumf {
	$self: &;

	padding: fluid(64px, 48px) 0;

	&__container {

	}

	&__title {
		margin-bottom: 48px;
	}

	&__outer {
		position: relative;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: fluid(64px, 24px) 0;
		padding: fluid(48px, 24px);
	}

	&__img {
		position: absolute;
		inset: 0;
		width: 100%; height: 100%;
		object-fit: cover;
		object-position: center center;
		z-index: 0;

	}

	&__card {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: row;
		align-items: start;
		gap: 24px;
		grid-column: 1 / span 2;

		img {
			width: fluid(96px, 48px);
		}
	}

	&__card-info {

	}

	&__card-title {
		text-transform: uppercase;
		font-weight: 700;
		font-size: fluid(20px, 16px);
		margin-bottom: 16px;
		line-height: 150%;
	}

	&__card-text {
		font-size: fluid(18px, 14px);
		line-height: 150%;
	}

}
