@use 'lib' as *;

.details-table {
	$self: &;

	&__title {
		margin-bottom: 48px;
	}

	&__table {
		background: var(--card);
		width: 100%;

		thead {
			tr {
				background: var(--section);
			}
		}

		th {
			font-weight: 600;
			border-right: 1px solid var(--text-muted);
		}

		tr:nth-child(even) {
			background: var(--section);
		}
		th, td {
			padding: fluid(24px, 16px);
			font-size: fluid(18px, 14px);
		}
	}

}
