@use 'lib' as *;

.card-b {
	$self: &;

	background: var(--card);
	border-radius: var(--radius-sm);
	padding: fluid(32px, 24px);

	&__content {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__item {
		padding: 32px 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: fluid(24px, 20px);
		gap: fluid(32px, 16px);

		b {
			font-size: fluid(48px, 32px);
		}

		&:not(:last-child) {
			border-bottom: 1px solid var(--text-muted);
		}
	}

	&__link {
		padding: 32px 0;
		display: flex;
		flex-direction: column;
		gap: 12px;
		
		h4 {
			font-size: fluid(20px, 18px);
			font-weight: 700;
		}

		&:not(:last-child) {
			border-bottom: 1px solid var(--text-muted);
		}
	}

}
